<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <!--    Start of js connection-->
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <!--    End of js connection -->
    <!--    start of css connection-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/styles.css">
    <!--    End of css connection-->

</head>
<body>
<!--start of navigation section-->
<section>
    <nav class="navbar navbar-expand-md bg-info navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand font-weight-bold a" href="index.html">MNHC</a>

        <!-- Toggler/collapsible Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav text-uppercase">
                <li class="nav-item ">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="events.html">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact-us.html">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!--end of navigation section-->

<!--start of carousel section-->
<section>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/images/cancer.webp" alt="Los Angeles">
                <div class="carousel-caption">
                    <h3>Cancer Awareness</h3>
                    <p>We held a cancer awareness demonstration at  the beginning of the year.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/images/hiv.jpg" alt="Chicago">
                <div class="carousel-caption">
                    <h3>HIV Awareness</h3>
                    <p>Masses showed up to help spread awareness on HIV/AIDS in 2022.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/images/mentalhealth.webp" alt="New York">
                <div class="carousel-caption">
                    <h3>Mental Health Awareness</h3>
                    <p>Students joined us in creating mental health awareness among the youth.</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</section>
<!--end of carousel section-->
</body>
</html>